header{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    &__logo{
        height: 150px;
        width: auto;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // Styles pour la navigation  
        ul {
          list-style: none;
          li {
            display: inline-block;
            position: relative;
            margin-right: 40px;
            margin-top: 15px;
            a {
              font-size: 150%;
              color: $color-basique-green;
              text-decoration: none;
              margin-left: 10px;
              font-family: $font-family-code;
              padding-right: 1em;
              padding-left: 1em;
              white-space: nowrap; /* Empêcher le texte de se diviser sur plusieurs lignes */
}}}}}