@charset "UTF-8";
body {
  background-image: url("../../public/images/fondprincipale.svg");
  background-size: cover;
}

#container {
  margin-left: 10%;
  margin-right: 10%;
}

header {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10px;
  background: linear-gradient(#2A292F, #1D1C22);
}
header__logo {
  height: 150px;
  width: auto;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  margin-top: 15px;
}
header nav ul li a {
  font-size: 150%;
  color: #8ED5BE;
  text-decoration: none;
  margin-left: 10px;
  font-family: "Handjet", cursive;
  padding-right: 1em;
  padding-left: 1em;
  white-space: nowrap; /* Empêcher le texte de se diviser sur plusieurs lignes */
}
header nav ul li a:active {
  color: #A777EB;
}

main {
  color: white;
  font-family: "Oswald", sans-serif;
}

.bandeau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10% 0 10% 0;
}
.bandeau h2 {
  letter-spacing: 5px;
}
.bandeau h1 {
  letter-spacing: 2px;
  margin-top: -8%;
}
.bandeau__text {
  font-size: 2rem;
  color: white;
  font-family: "Caveat", cursive;
}
.bandeau__text--green {
  color: #8ED5BE;
}
.bandeau__text--code {
  font-family: "Handjet", cursive;
}
.bandeau img {
  height: 500px;
  width: auto;
  border-radius: 20% 2% 20% 2%;
  box-shadow: #2A292F 30px 10px 5px;
}

.projets {
  text-align: center;
  height: 100%;
  width: auto;
}
.projets h2 {
  font-size: 2rem;
  color: #8ED5BE;
}
.projets__soustitre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
  padding-left: 10%;
}
.projets__soustitre h2 {
  font-size: 2rem;
  color: #8ED5BE;
}
.projets__soustitre img {
  height: 80px;
  width: auto;
}

.competences {
  text-align: end;
  height: 100%;
  width: auto;
  margin-bottom: 10%;
}
.competences__soustitre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2%;
  padding-right: 10%;
}
.competences__soustitre h2 {
  font-size: 2rem;
  color: #8ED5BE;
}
.competences__soustitre img {
  height: 80px;
  width: auto;
}
.competences__gallery__logo {
  display: flex;
  flex-direction: row;
  align-items: justify;
  justify-content: center;
  height: 60px;
  width: auto;
  gap: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(50%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.competences__gallery__logo:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#contact {
  color: #8ED5BE;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
#contact input, #contact textarea {
  padding: 15px;
  border-radius: 3px;
  border: none;
}
#contact p {
  text-align: center;
  font-size: 2em;
  color: white;
  font-family: "Caveat", cursive;
  margin-bottom: -5%;
}
#contact h2 {
  text-align: center;
  font-size: 3em;
}
#contact .form-nom-email {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 6%;
  font-family: "Handjet", cursive;
}
#contact .form-nom-email label {
  color: #8ED5BE;
  font-size: 2em;
  text-align: center;
}
#contact .form-nom-email .form-column {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#contact .form-message {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  text-align: center;
  font-family: "Handjet", cursive;
}
#contact .form-message input[type=submit] {
  cursor: pointer;
  background-color: #1D1C22;
  font-size: 1em;
  margin-top: 6%;
  color: #8ED5BE;
  font-family: "Handjet", cursive;
}
#contact .form-message input[type=submit]:active {
  color: #A777EB;
}

/* Style pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Choisir la largeur maximale souhaitée */
  max-height: 80vh; /* Choisir la hauteur maximale souhaitée en pourcentage de la vue */
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  background-color: black;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: black; /* Couleur de la croix */
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 6%;
  justify-content: space-around;
  color: #8ED5BE;
  font-family: "Handjet", cursive;
  font-size: 1em;
  background: linear-gradient(#1D1C22, #2A292F);
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: justify;
  justify-content: justify;
}
footer div h3 {
  text-align: center;
}
footer div ul {
  list-style: none;
}
footer div a {
  text-decoration: none;
  color: #8ED5BE;
}
footer .reseaux-sociaux {
  gap: 15px;
  padding-top: 2%;
}

/*# sourceMappingURL=style.css.map */
