// Police d'écriture
$fontfamily_slogan : 'Tektur', cursive;
$fontfamily_titre : 'Gruppo', sans-serif;

// Couleurs du site 
$color-titre: #A777EB;
$color-secondaire : #71B9F9;
$color-ternaire : #3A2BE0;
$color-option : #DB1750;
$color-fond : #5FEBE7;

$image-header : url("../../public/images/Programming-amico.png");
// Tailles des textes
$size-titre : 2.5rem;
// Tailles des images