// Police d'écriture
$font-family-1: 'Borel', cursive;
$font-family-manuscrit: 'Caveat', cursive;
$font-family-code: 'Handjet', cursive;
$font-family-4: 'Oswald', sans-serif;

// Couleurs du site 
$color-basique : #1D1C22;
$color-basique-2 : #2A292F;
$color-basique-green : #8ED5BE;
$color-basique-4 : white;
$color-option-1: #A777EB;
$color-option-2 : #DB1750;

// Tailles des textes
$size-titre : 2.5rem;
// Tailles des images